

<div class = "container"><!-- start of first div -->

<div class = "row"><!-- start of row class -->

<br/>

<br/>

<table class = "table table-bordered"><!-- start of table class -->

<thead>

<tr>

 	<th>ID</th> 		

	<th>First Name</th>
	
	<th>Last Name</th>
	
	<th>Email Id</th>
	
	<th>Phone Number</th>
	
	<th>Action</th>

</tr>

</thead>

<tbody>

	<tr ng-repeat = "person in persons"> <!-- person - variable ; persons : Backend - PersonController.java invoked from PersonDaoImpl.java  -->

	 	<td>{{person.id}}</td>	

	<!--  <td>{{person.first_name}}</td>	-->
	
	 	
		<td>
			<a href = "#!/getPersonById/{{person.id}}" ng-click = "getPersonById(person.id)">{{person.first_name}}</a>
		</td>
	
	
		<td>{{person.last_name}}</td>
		
		<td>{{person.email_id}}</td>
		
		<td>{{person.phone_number}}</td>

		<td>
			<a href = "#!/editPersonById/{{person.id}}" ng-click = "editPerson(person.id)" class = "btn btn-success">Edit</a>
			<a href = "" ng-click = "deletePerson(person.id)" class = "btn btn-danger">Delete</a>
		</td>
	
	</tr>		

</tbody>

</table><!-- End of table class -->

</div><!-- End of row class -->

</div><!-- end of first div -->

<br/>
<br/>

{{persons}}

