<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

</body>
</html> -->

<div class = "container"><!-- Start of container class -->

<form>

Enter First Name : <input type = "text" ng-model = "person.first_name"><br/>

Enter Last Name : <input type = "text" ng-model = "person.last_name"><br/>

Enter E-mail Id. : <input type = "email" ng-model = "person.email_id"><br/>

Enter Phone Number : <input type = "text" ng-model = "person.phone_number"><br/>


<input type = "submit" ng-click = "saveInsertPerson()" value = "insertSaveDetails">

</form>

</div><!-- End of container class -->